
<div class="ui-g dashboard">
    <div class="ui-g-12 ui-lg-4">
        <div class="user-card ui-shadow-content">
            <div class="user-card-header">
            </div>
            <div class="user-card-content">
                <div class="user-card-name">
                    <span>{{ Usuario }}</span>
                </div>

                <!-- <div class="user-detail">
                   <ul>
                     <li class="clearfix">
                         <div class="project-progressbar">
                             <div class="project-progressbar-value" style="width: 50%"></div>
                         </div>
                         <i class="material-icons">list</i>
                         <span class="project-title">Tasks</span>
                         <span class="project-detail">3 open</span>
                     </li>
                     <li class="clearfix">
                         <div class="project-progressbar">
                             <div class="project-progressbar-value" style="width: 20%"></div>
                         </div>
                         <i class="material-icons">attach_money</i>
                         <span class="project-title">Revenue</span>
                         <span class="project-detail">+20%</span>
                     </li>
                     <li class="clearfix">
                         <div class="project-progressbar">
                             <div class="project-progressbar-value" style="width: 65%"></div>
                         </div>
                         <i class="material-icons">credit_card</i>
                         <span class="project-title">Payments</span>
                         <span class="project-detail">24 new</span>

                     </li>
                     <li class="clearfix">
                         <div class="project-progressbar">
                             <div class="project-progressbar-value" style="width: 80%"></div>
                         </div>
                         <i class="material-icons">face</i>
                         <span class="project-title">Clients</span>
                         <span class="project-detail">+80%</span>
                     </li>
                   </ul>
                </div> -->
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-lg-8">
        <p-panel header="Livro de Ocorrências" styleClass="ui-shadow-content">
        </p-panel>
    </div>

    <div class="ui-g-12 ui-lg-4">
        <p-panel header="Editar Unidades" styleClass="ui-shadow-content">
            <app-editar-unidades></app-editar-unidades>
        </p-panel>
    </div>
    <div class="ui-g-12 ui-lg-4">
        <p-panel header="Editar Indicadores" styleClass="ui-shadow-content">
            <app-editar-indicadores></app-editar-indicadores>
        </p-panel>
    </div>
</div>