<div class="login-body">
    <div class="login-panel ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12 login-header" align="center">
                <!--<h1>LOGIN</h1>
                <h2>Welcome to Barcelona</h2>-->
                <img src="assets/layout/images/SISPC 2.0.png">
            </div>
            <div class="ui-g-12">
                    <span class="md-inputfield">
                        <input type="text" pInputText>
                        <label>E-mail</label>
                    </span>
            </div>
            <div class="ui-g-12">
                    <span class="md-inputfield">
                        <input type="text" pInputText>
                        <label>Password</label>
                    </span>
            </div>
            <div class="ui-g-12 button-container">
                <button pButton type="button" label="Entrar" icon="ui-icon-person"></button>
            </div>
        </div>
    </div>
</div>
