<div class="card card-w-title" >
  <h4>CADASTRAR NOVO PAGAMENTO</h4>
  <div  style="margin-left: 20px; margin-right: 40px;" class="ui-g">

    <div class="ui-g-12 ui-md-12" style="margin-top: 40px;">
      <span class="md-inputfield">
        <p-calendar class="ui-g-12 ui-md-3"   [(ngModel)]="CadDataProgramada" dateFormat="dd/mm/yy"></p-calendar>
        <label>Data Programação</label>
      </span>
    </div>
    
    <div class="ui-g-12 ui-md-12" style="margin-top: 20px;">
      <div class="ui-g-12 ui-md-6">
        <span class="md-inputfield">
          <input id="input" type="text" [(ngModel)]="CadEmpresa" class="ui-g-12" pInputText/>
          <label>Empresa</label>
        </span>
      </div>
      <div class="ui-g-12 ui-md-6" >
        <span class="md-inputfield">
          <input id="input" type="text" [(ngModel)]="CadAutor" class="ui-g-12" pInputText/>
          <label >Autor</label>
        </span>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12" style="margin-top: 20px;">
      <div class="ui-g-12 ui-md-6">
        <span class="md-inputfield">
          <input id="input" type="text" [(ngModel)]="CadProcesso" class="ui-g-12" pInputText/>
          <label>Processo</label>
        </span>
      </div>
      <div class="ui-g-12 ui-md-6" >
        <span class="md-inputfield">
          <input id="input" type="text" [(ngModel)]="CadNatureza" class="ui-g-12" pInputText/>
          <label >Natureza</label>
        </span>
      </div>
    </div>
    <div class="ui-md-12 ui-md-12" style="margin-top: 20px;">
          
      <div class="ui-g-12 ui-md-4" >
        <span class="md-inputfield">
          <input id="input" type="text" [(ngModel)]="CadValor" class="ui-g-12" pInputText/>
          <label >Valor</label>
        </span>
      </div>
      <div class="ui-g-12 ui-md-4" >
        <span class="md-inputfield">
          <input id="input" type="text" [(ngModel)]="CadContaContabil" class="ui-g-12" pInputText/>
          <label >Conta Contábil</label>
        </span>
      </div>
      <div class="ui-g-12 ui-md-4">
        <span class="md-inputfield">
          <input id="input" type="text" [(ngModel)]="CadCentroDeCusto" class="ui-g-12" pInputText/>
          <label>Centro de Custo</label>
        </span>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12" style="margin-top: 20px;">
      <div class="ui-g-12 ui-md-6" >
        <span class="md-inputfield">
          <input id="input" type="text" [(ngModel)]="CadFornecedor" class="ui-g-12" pInputText/>
          <label >Fornecedor</label>
        </span>
      </div>
      <div class="ui-g-12 ui-md-6">
        <span class="md-inputfield">
          <input id="input" type="text" [(ngModel)]="CadEscritorio" class="ui-g-12" pInputText/>
          <label>Escritório</label>
        </span>
      </div>
    </div>

    <div class="ui-g-12 ui-md-12" style="margin-top: 20px;">
      <div class="ui-g-6">
        <textarea style="width: 100%; height: 120px !important;" [(ngModel)]="CadSentenca"  pInputText rows="10" cols="35" placeholder="Sentencas"></textarea>
      </div>
      <div class="ui-g-6">
        <textarea style="width: 100%; height: 120px !important;" [(ngModel)]="CadMotivoPagamento"  pInputText rows="10" cols="35" placeholder="Motivo do Pagamento"></textarea>
      </div>
    </div>
    
    <div class="ui-g-12" style="text-align: center; margin-top: 20px;">
      <button type="button" pButton icon="pi pi-save" label="Salvar"  (click)="SalvarVeiculo()"></button>
    </div>
  </div>
</div>