<p-accordion [multiple]="true">
    <p-accordionTab header="Tarefas">
       <app-tarefas></app-tarefas>
    </p-accordionTab>
    <p-accordionTab header="Histórico">
            <!--<ul>
                    <li class="clearfix">
                        <img src="assets/layout/images/profile-image.png" style="width: 45px"/>
                        <div class="contact-info">
                            <span class="name">Jane White (me)</span>
                            <span class="location">jane@pf-barcelona.com</span>
                        </div>
                        <div class="contact-actions">
                            <span class="connection-status online">online</span>
                            <i class="fa fa-paper-plane-o"></i>
                            <i class="fa fa-phone"></i>
                        </div>
                    </li>
                    <li class="clearfix">
                        <img src="assets/layout/images/avatar1.png" style="width: 45px"/>
                        <div class="contact-info">
                            <span class="name">Joshua Williams</span>
                            <span class="location">joshua@pf-barcelona.com</span>
                        </div>
                        <div class="contact-actions">
                            <span class="connection-status online">online</span>
                            <i class="fa fa-paper-plane-o"></i>
                            <i class="fa fa-phone"></i>
                        </div>
                    </li>
                    <li class="clearfix">
                        <img src="assets/layout/images/avatar2.png" style="width: 45px"/>
                        <div class="contact-info">
                            <span class="name">Emily Clark</span>
                            <span class="location">emily@pf-barcelona.com</span>
                        </div>
                        <div class="contact-actions">
                            <span class="connection-status offline">offline</span>
                            <i class="fa fa-paper-plane-o"></i>
                            <i class="fa fa-phone"></i>
                        </div>
                    </li>
                    <li class="clearfix">
                        <img src="assets/layout/images/avatar3.png" style="width: 45px"/>
                        <div class="contact-info">
                            <span class="name">Tim Johnson</span>
                            <span class="location">tim@pf-barcelona.com</span>
                        </div>
                        <div class="contact-actions">
                            <span class="connection-status online">online</span>
                            <i class="fa fa-paper-plane-o"></i>
                            <i class="fa fa-phone"></i>
                        </div>
                    </li>
                    <li class="clearfix">
                        <img src="assets/layout/images/avatar4.png" style="width: 45px"/>
                        <div class="contact-info">
                            <span class="name">David Stark</span>
                            <span class="location">kelly@pf-barcelona.com</span>
                        </div>
                        <div class="contact-actions">
                            <span class="connection-status offline">offline</span>
                            <i class="fa fa-paper-plane-o"></i>
                            <i class="fa fa-phone"></i>
                        </div>
                    </li>
                </ul>-->
    </p-accordionTab>
</p-accordion>

