<div class="ui-g">
  <div class="ui-g-12">
    <p-tabMenu #tab [model]="items" id="menu" [activeItem]="activeItem" (click)="trocadeitem(tab)"></p-tabMenu>
    <div *ngIf="activeItemIndex==0">
      <app-cadastro-pagamento></app-cadastro-pagamento>
    </div>
    <div *ngIf="activeItemIndex==1">
      <app-listapendentes></app-listapendentes>
    </div>
    <div *ngIf="activeItemIndex==2">
      <app-acompanharaprovacao></app-acompanharaprovacao>
    </div>
    <div *ngIf="activeItemIndex==3">
    </div>
  </div>
</div>