<div class="card card-w-title" >
    <h4>ENVIAR EMAIL DE NOTIFICAÇÃO</h4>
    <div  style="margin-left: 20px; margin-right: 40px;" class="ui-g">
  
        <div class="ui-g-12 ui-md-12">
          <span class="md-inputfield">
            <input id="input" type="text" [(ngModel)]="CadEmpresa" class="ui-g-12" pInputText/>
            <label>Assunto</label>
          </span>
        </div>
      
    
        <div class="ui-g-12">
          <p-editor [(ngModel)]="text1" [style]="{'height':'320px'}"></p-editor>
        </div>
        <div class="ui-g-12" style="text-align: center; margin-top: 20px;">
          <button type="button" pButton icon="pi pi-save" label="Enviar"  (click)="salvar()"></button>
        </div>
    </div>
  </div>