.textos {
    font-family:Trebuchet MS, sans-serif !important;
    font-weight: normal !important;
    color:black !important ; 
    font-size:12px !important; 
    margin-top: 5px !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
    text-align:justify !important;
    margin-top:  5px !important; 
    width: 950px !important; 
    position: absolute !important;
}

.grid.Titulos {
    font-family:Trebuchet MS, sans-serif !important;
    background-color:rgb(37,63,147) !important; 
    font-size: 10px !important; 
    color:white !important; 
    padding-left: 1em !important;
    border-style: solid !important;
    border-color: white !important;
    border-width: 2px !important;
    height: 27px !important; 
}
.grid {
    font-family:Trebuchet MS, sans-serif !important;
    color: black !important;
    font-weight: bold !important ;
    background-color:rgb(229, 234, 238) !important; 
    font-size: 19px !important; 
    padding-left: 1em !important;
    border-style: solid !important;
    border-color: white !important;
    border-width: 2px !important;
    height: 25px !important; 
}