<div class="ui-g">
  <div class="card ui-g-12">
    <div class="ui-g-3" style="margin-top: 25px;">
      <span class="md-inputfield">
        <p-calendar view="month" dateFormat="yy-mm-dd" [yearNavigator]="true"
          yearRange="2000:2030" 
          [(ngModel)]="referencia" 
          [readonlyInput]="true">
        </p-calendar>
        <label>Data Referência</label>
      </span>
    </div>
    <div class="ui-g-3" style="margin-top: 25px;">
      <span class="md-inputfield">
        <p-dropdown  [options]="ListaDeUnidades"  placeholder="Selecione a Unidade" [showClear]="true" [(ngModel)]="UnidadeSelecionada" [style]="{'width':'100%'}" optionLabel="unidade"></p-dropdown>
      </span>
    </div>
    <div class="ui-g-3" style="margin-top: 25px;">
      <span class="md-inputfield">
        <p-dropdown  [options]="ListaDeClassificacoes"  placeholder="Selecione a Classificação" [showClear]="true" [(ngModel)]="ClassificacaoSelecionada" [style]="{'width':'100%'}" optionLabel="nome"></p-dropdown>
      </span>
    </div>
    <div  class="ui-g-2" style="text-align: right;">
      <button pButton type="button" icon="pi pi-search" (click)="consultar()"></button>
    </div>
  </div>
</div>    
<p-progressBar *ngIf="carregando===true" mode="indeterminate" [style]="{'height': '15px'}"></p-progressBar>

<p-table #dt [columns]="cols2" [value]="arrayZao"  *ngIf="carregando===false"  selectionMode="single"  [scrollable]="true"    [paginator]="true" [rows]="17">
  <ng-template pTemplate="caption">
    <div class="ui-helper-clearfix" style="text-align: left">
      <button type="button" class="ui-button-rounded ui-button-success" pButton iconPos="left" label="CSV Forecast" (click)="salvarCSV()" style="margin-right: 0.5em;"></button>
      <button type="button" class="ui-button-rounded ui-button-success" pButton iconPos="left" label="CSV Detalhado" (click)="salvarCSV2()" style="margin-right: 0.5em;"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" style="width:200px">
      </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr style="font-weight: bold !important; font-size: 15px;">
      <th *ngFor="let c of cols2" style="background-color: rgba(222, 195, 176, 0.431);">
        {{c.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template let-linha  pTemplate="body">
    <tr [pSelectableRow]="linha"  style="font-size: 13px;">
      <td *ngFor="let c of cols2, let i=index" style="background-color: rgba(222, 195, 176, 0.431);">
        {{ i<= 2 ? linha[c.field] : linha[c.field].valor }}
      </td>
    </tr>
  </ng-template>
</p-table>