<p-tabMenu #tab [model]="items" id="menu" [activeItem]="activeItem" (click)="trocadeitem(tab)"></p-tabMenu>

<!--SCROOOL DE CARROS-->
<div class="card card-w-title" style="width: 99.5%; margin-left: 3px;" *ngIf="activeItemIndex==0">
  <p-dataView #dv [value]="cars" [paginator]="true" [rows]="10" paginatorPosition="both" filterBy="placa"
      [sortField]="sortField" [sortOrder]="sortOrder">
      <p-header>
        <div class="ui-helper-clearfix">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-4 filter-container">
              <div style="position:relative">
                  <input type="search" pInputText placeholder="Pesquisar pelo Placa" (input)="dv.filter($event.target.value)">
              </div>
            </div>
          </div>
        </div>
      </p-header>
      <ng-template let-car pTemplate="listItem">
        <div class="ui-g-12">
          <div class="car-details">
            <img class="ui-g-1" src="assets/layout/images/transporte/{{car.modelo}}.png">
            <div class="ui-g-10" >
              <div style="margin-left:90px;" >
                <div class="ui-g-12">Placa: <b>{{car.placa}}</b></div>
                <div class="ui-g-6">Modelo/Ano: <b>{{car.modelo}} / {{car.year}}</b></div>
                <div class="ui-g-6">Condutor: <b>{{car.responsavel}}</b></div>
                <div class="ui-g-6">Gerencia: <b>{{car.gerencia}}</b></div>
                <div class="ui-g-6">Supervisao: <b>{{car.supervisao}}</b></div>
              </div>
            </div>
            <div class="ui-g-1" >
              <button pButton type="button" icon="pi pi-search" (click)="selectCar(car)"></button>
            </div>
          </div>
        </div>
      </ng-template>
       
  </p-dataView>
</div>