


<div style="text-align: right;">
  <button pButton type="button" icon="pi pi-plus" (click)="NovoMedidor()"></button>
</div>

<div class="ui-g ui-md">
  <div class="card ui-g-12 ui-md-2" style="margin-left: 10px; margin-top: 5px; height:200px;" *ngFor="let med of cadastro">
    <div style="font-weight: bold;" class="ui-g-12">{{ med.nomeDoEquipamento }}</div>
    <br><br><br>
    <div  class="ui-g-12" style="text-align: center;">SmGateMHist{{ med.baseDeDados }}.db</div>
    <br>
    <div  class="ui-g-12">Id do indicador de kW:{{ med.indicadorKw }}</div>
    <div  class="ui-g-12" style="margin-top: 10px;text-align: right;">
      <button pButton type="button" icon="pi pi-plus" (click)="AbrirMedidor(med)"></button>
    </div>
  </div>
</div>
<!-- APROVAR DADOS -->
<p-dialog header="Registros" [(visible)]="displayRegistros"[style]="{width: '100%', height: '100%'}" [maximizable]="true" [baseZIndex]="10000" 
 [draggable]="false" [resizable]="false" (onAfterHide)="onRegistrosHide()">
  <div class="ui-g" *ngIf="registros">
    
  <div class="ui-g-12" style="margin-top: 25px;">
    <span class="md-inputfield">
        <input id="input" class="ui-g-4"  [(ngModel)]="tarifa"  type="text" pInputText/>
        <label>Tarifa</label>
    </span>
  </div>
    <p-table #dt [value]="registros">
      <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix" style="text-align: left">
          <button pButton type="button" label="Finalizar" class="ui-button-rounded ui-button-success" (click)="finaliza()"></button>
          <button type="button" pButton icon="pi pi-file-o"  class="ui-button-rounded ui-button-success" iconPos="left" label="CSV" (click)="salvarCSV()" style="margin-right: 0.5em;"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
            <th>Data da Coleta</th>
            <th>Data</th>
            <th>Equipamento</th>
            <th>Ativo Consumido</th>
            <th>Ativo Fornecido</th>
            <th>Reativo</th>
            <th>Ativo R$</th>
            <th>  </th>
          </tr>
      </ng-template>
      <ng-template let-coleta pTemplate="body">
        <tr [pSelectableRow]="coleta" [ngClass]="coleta.aprovacao === null ? null : coleta.aprovacao === 1 ? 'aprov-id' : 'reprov-id'">
          <td>{{coleta.timestamp}}</td>
          <td>{{coleta.dataIndicador}}</td>
          <td>{{coleta.unidade.nomeDoEquipamento}}</td>
          <td>{{coleta.ativoConsumido}}</td>
          <td>{{coleta.ativoFornecido}}</td>
          <td>{{coleta.reativo}}</td>
          <td>{{coleta.ativoConsumido * tarifa}}</td>
          <td>
            <button pButton type="button" label="+" class="ui-button-rounded ui-button-success" (click)="aprovaLinha(coleta)"></button>
            <button pButton type="button" label="Nulo" class="ui-button-rounded ui-button-secondary" (click)="nuloLinha(coleta)"></button>
            <button pButton type="button" label="-" class="ui-button-rounded ui-button-danger" (click)="reprovaLinha(coleta)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>

<!-- APROVAR REPROVADOS -->
<p-dialog header="Registros" [(visible)]="displayReprovados"[style]="{width: '100%', height: '100%'}" [maximizable]="true" [baseZIndex]="10000" 
 [draggable]="false" [resizable]="false" (onAfterHide)="onRegistrosHide()">
  <div class="ui-g" *ngIf="listaReprovados">
    <div class="ui-g-12" style="margin-top: 25px;">
      <span class="md-inputfield">
          <input id="input" class="ui-g-4"  [(ngModel)]="tarifa"  type="text" pInputText/>
          <label>Tarifa</label>
      </span>
    </div>
    <p-table #dt [value]="listaReprovados" editMode="row">
      <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix" style="text-align: left">
          <button pButton type="button" label="Finalizar" class="ui-button-rounded ui-button-success" (click)="finalizaReprovados()"></button>
          <button type="button" pButton icon="pi pi-file-o"  class="ui-button-rounded ui-button-success" iconPos="left" label="CSV" (click)="salvarCSV()" style="margin-right: 0.5em;"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
            <th>Data</th>
            <th>Ativo Consumido</th>
            <th>Ativo R$</th>
            <th>Comentário</th>
            <th></th>
          </tr>
      </ng-template>
      <ng-template let-coleta pTemplate="body" let-editing="editing" >
        <tr [pEditableRow]="coleta" >
          <td>{{coleta.dataIndicador}}</td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                  <input pInputText type="number" [(ngModel)]="coleta.ativoConsumido" required>
              </ng-template>
              <ng-template pTemplate="output">
                  {{coleta.ativoConsumido}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>{{coleta.ativoConsumido * tarifa}}</td>
          <td>
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="coleta.comentario"  required>
                </ng-template>
                <ng-template pTemplate="output">
                    {{coleta.comentario}}
                </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align:center">
            <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
            <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
            <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>

<!-- EDITAR CADASTRO DO BOT -->
<p-dialog header="Detalhe Medidor" [(visible)]="displayMedidor" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '50%'}"  (onAfterHide)="onDialogHide()">
  <div class="ui-g" *ngIf="selectMedidor" >
    <div class="ui-g-12" style="margin-top: 25px;">
      <span class="md-inputfield">
          <input id="input" class="ui-g-12"  [(ngModel)]="selectMedidor.nomeDoEquipamento" type="text" pInputText/>
          <label>Nome do Medidor</label>
      </span>
    </div>
    <div class="ui-g-6" style="margin-top: 25px;">
      <p-dropdown  class="ui-g-12" [options]="classificacoes" [(ngModel)]="classificacaoselect"
        placeholder="Classificação" [autoWidth]="true" filter="true"
        styleClass = "drop95" optionLabel="label" [showClear]="true"></p-dropdown>
    </div>
    <div class="ui-g-3" style="margin-top: 25px;">
      <span class="md-inputfield">
          <input id="input" class="ui-g-12"  [(ngModel)]="selectMedidor.baseDeDados" type="number" pInputText/>
          <label>Numero do Medidor</label>
      </span>
    </div>
    <div class="ui-g-3" style="margin-top: 25px;">
      <span class="md-inputfield">
          <input id="input" class="ui-g-12"  [(ngModel)]="selectMedidor.indicadorVolume" type="number" pInputText/>
          <label>Indicador Volume</label>
      </span>
    </div>
    <div class="ui-g-3" style="margin-top: 45px;">
      <span class="md-inputfield">
          <input id="input" class="ui-g-12"  [(ngModel)]="selectMedidor.indicadorKw" type="number" pInputText/>
          <label>Indicador de kW</label>
      </span>
    </div>
    <div class="ui-g-3" style="margin-top: 45px;">
      <span class="md-inputfield">
          <input id="input" class="ui-g-12"  [(ngModel)]="selectMedidor.indicadorRs" type="number" pInputText/>
          <label>Indicador de R$</label>
      </span>
    </div>
    <div class="ui-g-3" style="margin-top: 45px;">
      <span class="md-inputfield">
          <input id="input" class="ui-g-12"  [(ngModel)]="selectMedidor.indicadorkwm3" type="number" pInputText/>
          <label>Indicador de kW/m³</label>
      </span>
    </div>
    <div class="ui-g-3" style="margin-top: 45px;">
      <span class="md-inputfield">
          <input id="input" class="ui-g-12"  [(ngModel)]="selectMedidor.indicadorrsm3" type="number" pInputText/>
          <label>Indicador de R$/m³</label>
      </span>
    </div>

    <div  class="ui-g-6" style="margin-top: 30px;text-align: left;">
      <button pButton type="button" label="Aprovar Dados" (click)="abrirParaAprovar(selectMedidor)"></button>
    </div>
    <div  class="ui-g-6" style="margin-top: 30px;text-align: right;">
      <button pButton type="button" label="Salvar Medidor"  (click)="SalvarMedidor(selectMedidor)"></button>
    </div>
  </div>
</p-dialog>

