<div class="ui-g">
    <!--<div class="ui-g-12">
        <div class="card">
                <h1>EM CONSTRUÇÃO</h1>
                <p>desenvolvendo conteúdo...</p>
            <a pButton href="#/painelprocess" label="Home"></a>
        </div>
    </div>-->

    <div class="widget">
        <div class="wrap">
            <div class="widget-main">
                <div class="widget-climate-weather">
                    <div class="widget-left">
                        <div class="season">
                            <div class="degree">
                                <h4>{{condicoes[1]}}</h4>
                                <h2>Probabilidade de chuva {{chuva[1]}}%</h2>
                                <h2>min: {{min[1]}}°c max: {{max[1]}}°c</h2>
                            </div>
                            <div class="date">
                                <h6>{{diasemana1}} - {{datas[1]}}</h6>
                            </div>
                        </div>
                        <div class="season">
                            <div class="degree">
                                <h4>{{condicoes[2]}}</h4>
                                <h2>Probabilidade de chuva {{chuva[2]}}%</h2>
                                <h2>min: {{min[2]}}°c max: {{max[2]}}°c</h2>
                            </div>
                            <div class="date">
                                <h6>{{diasemana2}} - {{datas[2]}}</h6>
                            </div>
                        </div>
                        <div class="season">
                            <div class="degree">
                                <h4>{{condicoes[3]}}</h4>
                                <h2>Probabilidade de chuva {{chuva[3]}}%</h2>
                                <h2>min: {{min[3]}}°c max: {{max[3]}}°c</h2>
                            </div>
                            <div class="date">
                                <h6>{{diasemana3}} - {{datas[3]}}</h6>
                            </div>
                        </div>
                        <div class="season">
                            <div class="degree">
                                <h4>{{condicoes[4]}}</h4>
                                <h2>Probabilidade de chuva {{chuva[4]}}%</h2>
                                <h2>min: {{min[4]}}°c max: {{max[4]}}°c</h2>
                            </div>
                            <div class="date">
                                <h6>{{diasemana4}} - {{datas[4]}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="widget-right">
                        <p>{{diasemana}}</p>
                        <p>{{hoje}}</p><br>
                        <p>Manhã: {{manha}}</p>
                        <p>Tarde: {{tarde}}</p>
                        <p>Noite: {{noite}}</p>
                        <h5>Agora: {{condicao}}</h5>
                        <p>probabilidade de chuva {{chuva[0]}}%</p>
                        <div style="position: relative; margin-top:-130px;">
                            <h2>{{temperatura}}°c</h2>
                        </div>
                    </div>
                    
                    <div class="clear">

                    </div>
                </div>
            </div>
        </div>
        <div>
            Fonte: Climatempo
            </div>
    </div>
    
</div>