<div class="ui-g" >
  <div class="ui-g-2 gridRel">
    {{ this.element.classificacao }}
  </div>
  <div class="ui-g-4 gridRel">
    {{ this.element.indicador }}
  </div>
  <div class="ui-g-1 gridRel">
    {{ this.campoCalc1 }}
  </div>
  <div class="ui-g-1 gridRel" [style.color]="this.Cor1" >
    {{ this.campoCalc2 }}
  </div>
  <div class="ui-g-1 gridRel" [style.color]="this.Cor2">
    {{ this.campoCalc3 }}
  </div>
  <div class="ui-g-1 gridRel" [style.color]="this.Cor3" >
    {{ this.campoCalc4 }}
  </div>
  <div class="ui-g-1 gridRel">
    {{ this.RotuloPrevisaoMensal}}
  </div>
  <div class="ui-g-1 gridRel">
    {{ this.RotuloOrcadoMensal}}
  </div>
</div>