<!--SCROOOL DE CARROS-->
<div class="card card-w-title" style="width: 99.5%; margin-left: 3px;" >
  <p-dataView #dv [value]="sentencas" [paginator]="true" [rows]="10" paginatorPosition="both">
      <div >
        <div class="ui-g-2">Sentenças</div>
      </div>
      <ng-template let-sentencas pTemplate="listItem">
        <div class="car-details">
          <div class="ui-g-11">
            <div class="ui-g-2"><b>{{sentencas.processo}}</b></div>
            <div class="ui-g-2"><b>{{sentencas.autor}}</b></div>
            <div class="ui-g-1"><b>{{sentencas.empresa}}</b></div>
            <div class="ui-g-1"><b>{{sentencas.natureza}}</b></div>
            <div class="ui-g-1"><b>{{sentencas.dataProgramada}}</b></div>
            <div class="ui-g-1"><b>{{sentencas.valor}}</b></div>
            <div class="ui-g-2"><b>{{sentencas.escritorio}}</b></div>
            <div class="ui-g-1"><b>{{sentencas.centroDeCusto}}</b></div>
            <div class="ui-g-1">
              <p-rating [ngModel]="sentencas.valor > 5000 ? 3 : sentencas.valor > 1000 ? 2 : 1" readonly="true" stars="3" [cancel]="false"></p-rating>
            </div>
          </div>
          <div class="ui-g-1" >
            <button pButton type="button" icon="ui-icon-edit" (click)="showSentenca(sentencas)"></button>
          </div>
        </div>
      </ng-template>
       
  </p-dataView>
</div>


<p-dialog header="Editar" [(visible)]="displayEditSentenca" [responsive]="false" showEffect="fade" [modal]="true" [style]="{width: '80%'}"  (onAfterHide)="onDialogHide()">
  <div class="ui-g" *ngIf="sentencaSelect" >
    <div  style="margin-left: 20px; margin-right: 40px;" class="ui-g">

      
      <div class="ui-g-12 ui-md-12" style="margin-top: 40px;">
        <div class="ui-g-12 ui-md-4">
          <span class="md-inputfield">
            <p-calendar class="ui-g-12 ui-md-3"   [(ngModel)]="sentencaSelect.dataProgramada" dateFormat="yy-mm-dd"></p-calendar>
            <label>Data Programação</label>
          </span>
        </div>
        
        <div class="ui-g-12 ui-md-4">
          Nível de Aprovação
          <p-rating [ngModel]="sentencaSelect.valor > 5000 ? 3 : sentencaSelect.valor > 1000 ? 2 : 1" readonly="true" stars="3" [cancel]="false"></p-rating>
        </div>

        <div class="ui-g-12 ui-md-4">
          <div class="ui-g-12 item" >
            <p-checkbox name="group1" [(ngModel)]="sentencaSelect.falhaConcess" inputId="ny"></p-checkbox>
            <label >Falha da Concessão</label>
          </div>
        </div>
      </div>

      <div class="ui-g-12 ui-md-12" style="margin-top: 40px;">
        <div class="ui-g-12 ui-md-4">
          <span class="md-inputfield">
            <input id="input" type="text" [(ngModel)]="sentencaSelect.aprovador1" class="ui-g-12" pInputText/>
            <label>Aprovador 1</label>
          </span>
        </div>
        
        <div class="ui-g-12 ui-md-4">
          <span class="md-inputfield">
            <input id="input" type="text" [(ngModel)]="sentencaSelectAprovador2" class="ui-g-12" pInputText/>
            <label>Aprovador 2</label>
          </span>
        </div>

        <div class="ui-g-12 ui-md-4">
          <span class="md-inputfield">
            <input id="input" type="text" [(ngModel)]="sentencaSelect.aprovador3" class="ui-g-12" pInputText/>
            <label>Aprovador 3</label>
          </span>
        </div>
      </div>

      <div class="ui-g-12 ui-md-12" style="margin-top: 20px;">
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input id="input" type="text" [(ngModel)]="sentencaSelect.empresa" class="ui-g-12" pInputText/>
            <label>Empresa</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6" >
          <span class="md-inputfield">
            <input id="input" type="text" [(ngModel)]="sentencaSelect.autor" class="ui-g-12" pInputText/>
            <label >Autor</label>
          </span>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12" style="margin-top: 20px;">
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input id="input" type="text" [(ngModel)]="sentencaSelect.processo" class="ui-g-12" pInputText/>
            <label>Processo</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6" >
          <span class="md-inputfield">
            <input id="input" type="text" [(ngModel)]="sentencaSelect.natureza" class="ui-g-12" pInputText/>
            <label >Natureza</label>
          </span>
        </div>
      </div>
      <div class="ui-md-12 ui-md-12" style="margin-top: 20px;">
            
        <div class="ui-g-12 ui-md-4" >
          <span class="md-inputfield">
            <input id="input" type="text" [(ngModel)]="sentencaSelect.valor" class="ui-g-12" pInputText/>
            <label >Valor</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-4" >
          <span class="md-inputfield">
            <p-dropdown [autoWidth]="true" filter="true"  [(ngModel)]="sentencaSelect.contaContabil" styleClass = "drop95" [options]="ListaContas"></p-dropdown>
          <label >Conta Contábil</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-4">
          <span class="md-inputfield">
            <p-dropdown [autoWidth]="true" filter="true"  [(ngModel)]="sentencaSelect.centroDeCusto" styleClass = "drop95" [options]="ListaCentroDeCusto"></p-dropdown>
            <label>Centro de Custo</label>
          </span>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12" style="margin-top: 20px;">
        <div class="ui-g-12 ui-md-6" >
          <span class="md-inputfield">
            <p-dropdown [autoWidth]="true" filter="true"  [(ngModel)]="sentencaSelect.fornecedor" styleClass = "drop95" [options]="ListaFornecedores"></p-dropdown>
            <label >fornecedor</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <p-dropdown [autoWidth]="true" filter="true"  [(ngModel)]="sentencaSelect.escritorio" styleClass = "drop95" [options]="ListaEscritorios"></p-dropdown>
            <label>Escritório</label>
          </span>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12" style="margin-top: 20px;">
        <div class="ui-g-12">
          <label>Sentencas</label>
          <textarea style="width: 100%; height: 120px !important;" [(ngModel)]="sentencaSelect.sentenca"  pInputText rows="10" cols="35"></textarea>
        </div>
        <div class="ui-g-12">
          <label>Motivo do Pagamento</label>
          <textarea style="width: 100%; height: 120px !important;" [(ngModel)]="sentencaSelect.motivoPagamento"  pInputText rows="10" cols="35" placeholder="Motivo do Pagamento"></textarea>
        </div>
      </div>

      <div class="ui-g-12" style="text-align: center; margin-top: 20px;">
        <div class="ui-g-6" style="text-align: center;">
          <button type="button" pButton icon="ui-icon-save" label="Salvar"  (click)="Salvar(sentencaSelect)"></button>
        </div>
        <div class="ui-g-6" style="text-align: center;">
          <button type="button"  style="background:#3cb627;" pButton icon="ui-icon-done" label="Enviar Aprovação"  (click)="EnviarAprovacao(sentencaSelect)"></button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>